nav{
	background-image:none !important;
	background:#fff !important;
	box-shadow: none !important;
	font-family: montserrat, sans-serif;
	padding:8px;
}

body{
	/*background: #ececec;*/
}

nav li a{
	font-weight: bold;
}

nav li.active a {
	background: none !important;
	box-shadow: none !important;
}

nav li.open a {
	background: none !important;
	box-shadow: none !important;
}

.buton-red{
	background: #b50000;
	color:#fff !important;
	border-radius: 40px;
	padding:5px 10px !important;
}

.buton-red:hover, .buton-red:focus{
	background: #880000;
}

nav li a.buton-red{
	margin:0px 5px;
}

nav li a.buton-red:hover{
	background: #880000 !important;
	color:#fff !important;
}

nav li a.buton-red:focus{
	background: #880000 !important;
	color:#fff !important;
}

.home-plain{
	background-image: url(../img/anasayfa-bg.jpg);
	height:450px;
	width:100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header{
	position: absolute;
	width: 100%;
	z-index: 99
}

.header-normal{
	position: unset !important;
	background: #fff
}
.header .header-top{
	position: relative;
	background: rgba(255, 255, 255, 0.1);
}

.header-normal .header-top{
	background: #b50000;
}

.header .header-top ul{
	margin:0px;
	padding:5px 0px;
	float:right;
	height: 100%;
	list-style: none;
}

.header .header-top ul li{
	float:left;
	margin-left:15px;
}

.header .header-top ul li a{
	color:rgba(255, 255, 255, 0.7);
	font-weight: normal;
	font-family: 'montserrat', sans-serif;
	text-decoration: none
}

.header .header-top ul li a.bildirim{
	font-family: sans-serif;
}

.header .header-top ul li .bildirim-list{
	padding:0px;
}



.header .header-top ul li .bildirim-list a{
	display: block;
	color:#ababab;
	padding: 5px;
	border-bottom: 1px solid #ececec;
}

.header .header-top ul li .bildirim-list a:hover{
	text-decoration: underline;
}

.header .header-top ul li .bildirim-list a.unread{
	color:#333;
	background: #f1f8ff;
	font-weight: bold;
}

.header .header-top ul li .bildirim-list a:last-child{
	border-bottom: 0px;
}

.header .header-top ul li a .kredi-badge{
	background: #fff;
	color:#b50000;
	font-size:14px;
	padding:2px 7px;
}

.header-normal .header-top ul li a{
	color:#fff;
}		

header .landing-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition:40s;
	transition: 40s;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image : url(../img/home-landing.jpg);
	-webkit-animation: zoom 60s linear infinite alternate;
    -moz-animation: zoom 60s linear infinite alternate;
    -o-animation: zoom 60s linear infinite alternate;
}

@-webkit-keyframes zoom {
0% {
    -webkit-transform: scale(1);
    transform: scale(1)
}
50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.4)
}
100% {
    -webkit-transform: scale(1);
    transform: scale(1)
}
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.4)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
	


.header nav{
	background:none !important;
	border:none;
	margin-bottom: 0px
}

.header nav .navbar-nav{
	float:right;
	margin-right:-15px;

}



.header nav .navbar-nav > li > a{
	color:#fff;
	font-weight: normal;
	font-family: 'montserrat', sans-serif;
	font-size:16px;
	border:2px solid transparent;
}

.header nav .navbar-nav > li > a:hover{
	color:#fff;
	border:2px solid rgba(255, 255, 255, 0.5) !important;
	-webkit-transition:0.5s;
	transition: 0.5s;
	outline:0;
}

.header-normal nav .navbar-nav > li > a{
	color:#333 ;
}

.header-normal nav .navbar-nav > li > a:hover{
	color:#b50000 ;
	border:2px solid transparent !important
}



.header nav .navbar-nav > li > a:focus{
	color:#fff;
	border:2px solid rgba(255, 255, 255, 0.5) !important;
}

.header-normal nav .navbar-nav > li > a:focus{
	color:#b50000;
	border:2px solid transparent !important
}

 .header nav .navbar-nav > .open > a{
 	color:#fff !important;
	border:2px solid rgba(255, 255, 255, 0.5) !important;
 }

  .header.header-normal nav .navbar-nav > .open > a{
  	color:#b50000 !important;
	border:2px solid transparent !important
  }

 .header nav .navbar-nav .dropdown-menu{
 	background: rgba(255, 255, 255, 1);
 }

 .header nav .navbar-nav .dropdown-menu > li > a{
 	color:#333;
 }

 .header nav .navbar-nav .dropdown-menu > li > a:hover{
 	background: rgba(225, 225, 225, 1) !important;
 	-webkit-transition:0.5s;
	transition: 0.5s;
 }

.header #navbar{
	padding:0px;
	width:100%;
}

.header .navbar-brand{
	height:auto;
}

.header nav > .container{
	display: flex;
	align-items: center;
}

header{
	position: relative;
	overflow: hidden;
}

header .landing-icerik{
	min-height: 100vh;
	-webkit-box-shadow: inset -1px 0px 71px -12px rgba(0, 0, 0, 0.67);
	box-shadow: inset -1px 0px 71px -12px rgba(0, 0, 0, 0.67);
	position: relative;
	padding-top:150px;
}

header .landing-icerik .landing-top .title-1{
	color:#fff;
	font-family: montserrat, sans-serif;
	font-size:38px;
	text-align: center;
	padding:15px 0px;
}

header .landing-icerik .landing-top{
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
	display: table;
}

header .landing-icerik .landing-mid{
	margin-top:30px;
}

header .landing-icerik .landing-mid>.container>.row{
	display: flex;
	align-items: center;
}

header .landing-icerik .landing-mid .landing-title{
	text-align: center;
	font-family: montserrat;
	font-size:30px;
	color:#fff;
}

header .landing-icerik .landing-bot .landing-box{
	margin-bottom: 30px;
	padding:0px 20px;
}

header .landing-icerik .landing-bot .landing-box a{
	text-decoration: none;
}

header .landing-icerik .landing-bot .landing-box .landing-box-img{
	width: 100%;
}

header .landing-icerik .landing-bot .landing-box .landing-box-img img{
	width: 100%;
}

header .landing-icerik .landing-bot .landing-box .landing-box-title{
	color: #fff;
	text-align: center;
	padding-top: 15px;
	font-size:18px;
	font-family: montserrat;
}

header .landing-icerik .landing-bot .landing-box-wrapper{
	display: inline-block;
	float:none;
	margin-right: -4px;
}

header .landing-icerik .landing-bot .landing-fal-turleri, header .landing-icerik .landing-bot .landing-yorumcular{
	text-align: center;
	margin-top:30px;
}

header .landing-icerik .landing-bot .landing-yorumcular .landing-box .landing-box-img img{
	border:5px solid #fff;
}

.flex{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.welcome{
	align-items: center;
	color:#fff;
	font-family: montserrat, sans-serif;
	height:100%;
}

.welcome h2{
    font-size: 54px;
    font-weight: bold;
}

.welcome p{
    font-size: 26px;
    
}

.home-fal-turler{
	text-align: center;
	font-family: montserrat, sans-serif;
	padding:30px 0px 40px 0px;
	background: #fafbfc;
	width:100%;
}

.home-fal-turler .fal-tur-box{
	float:left;
	width:14.28%;
}

.home-fal-turler .fal-tur-item{
	margin-top:20px;
}

.home-fal-turler .fal-tur-item img{
	width: 72px;
}

.home-fal-turler .fal-tur-item .fal-tur-isim{
	margin-top:10px;
}

.home-fal-turler a{
	text-decoration: none;
	color:#333;
	font-size:16px;
}

.yorumcular{
	padding:40px 0px;
	background: #f1f1f1;
}

.yorumcular .yorumcu-box{
	background: #fff;
	box-shadow: none;
	padding: 20px;
	border-radius:  2px
}

.yorumcular .yorumcu{
	margin-bottom: 40px
}

.yorumcular .yorumcu .pp{
	text-align: center
}

.yorumcular .yorumcu .yorumcu-box-wrapper {
	width: 100%;
}

.yorumcular .yorumcu .yorumcu-box-wrapper img{
	margin-top:5px;
	width: 100%
}

.yorumcular .yorumcu>a{
	text-decoration: none;
	color:#333 !important;
}

.yorumcular h4{
	font-family: montserrat, sans-serif;
}

.yorumcular .desc{
	margin-bottom: 10px;
	height:100px;
}

.yorumcular .falbtn{
	background: #b50000;
	color:#fff !important;
	padding: 10px;
	font-family: montserrat, sans-serif;
	border-radius: 2px;
	font-weight: bold;
	text-decoration: none;
	text-align: center
}

.yorumcular .falbtn:hover{
	background: #880000 !important
}

.yorumcular .profile-review-stars i.active{
	color:orange;
}

.yorumcu-sayfa{
	padding-top:30px;
}

.yorumcu-sayfa .profil-wrapper{
	margin-bottom: 30px;
}

.profil-karti-g{
	background: #fff;
	border-radius: 5px;
}

.profil-karti-g .pp, .fal-sayfasi .pp{
	padding:15px 25%;
}

.profil-karti-g .pp img, .fal-sayfasi .pp img{
	width: 100%
}

.profil-karti-g .isim, .fal-sayfasi .isim{
	font-weight: bold;
	width: 100%;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-size:18px;
}

.profil-karti-g .hakkinda-kisa, .fal-sayfasi .hakkinda-kisa{
	text-align: center;
	padding:15px;
}

.profil-karti-g .review-stars i.active, .fal-sayfasi .review-stars i.active{
	color:orange;
}

.profil-karti-g .review-stars, .fal-sayfasi .review-stars{
	padding-top:15px;
	text-align: center;
}

.profil-karti-g .online-status, .fal-sayfasi .online-status{
	text-align: center;
	padding-top:15px;
}

.profil-karti-g .online-status .badge.active, .fal-sayfasi .online-status .badge.active{
	background: #3fae6b;
}

.profil-karti-g .online-status .badge.deactive, .fal-sayfasi .online-status .badge.deactive{
	background: red;
}

.profil-karti-g .fal-listesi ul{
	list-style: none;
	padding:0px;
}

.profil-karti-g .fal-listesi ul li
{
	border-bottom: 1px solid #ececec;
	padding:10px 0px;
}

.profil-karti-g .fal-listesi ul li:last{
	border:0px;
}

.profil-karti-g .fal-listesi ul li a{
	text-decoration: none;
}

.profil-karti-g .fal-listesi ul li .fal-li-wrapper{
	display: flex;
	align-items: center;
}

.profil-karti-g .fal-listesi ul li .fal-li-r{
	font-size: 13px;
}

.profil-karti-g .fal-listesi ul li .fal-li-r span{
	background: #fff;
	color: #000;
	padding:2px 7px;
}

.profil-karti-g .fal-listesi ul li .fal-gonder-btn{
	background: #b50000;
	color:#fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-family: montserrat;
	text-align: center;
	display: table;
}

.profil-karti-g .fal-listesi ul li .fal-li
{
	padding:0px 20px;
}

.profil-karti-g .fal-listesi ul li .fal-li .fal-li-resim
{
	width: 48px;
	height: 48px;
	display: inline-block;
}

.profil-karti-g .fal-listesi ul li .fal-li .fal-li-resim img
{
	width: 100%;
}

.profil-karti-g .fal-listesi ul li .fal-li .fal-li-isim
{
	display: inline-block;
	font-family: montserrat, sans-serif;
	font-weight: bold;
	padding-left:10px;
	color:#333;
}

.profil-karti-g .mesaj-gonder-btn{
    text-align: center;
    padding: 15px 0px;
}

.profil-karti-g .mesaj-gonder-btn a{
    color: #fff;
    background: #757575;
    padding: 5px;
    border-radius: 5px;
    font-family: montserrat;
    color: #fff;
    text-decoration: none;
}

.profil-karti-g .mesaj-gonder-btn a:hover{
	background: #333;
}

.yorumcu-sayfa .profil-sag-wrapper{
	margin-bottom: 30px;
}

.yorumcu-sayfa .profil-sag{
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	display: inline-block;
	width: 100%;
}

.yorumcu-sayfa .profil-sag .hakkimda .baslik{
	font-family: montserrat, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size:18px;
}

.yorumcu-sayfa .profil-sag .hakkimda .icerik{
	padding:20px 0px;
}

.yorumcu-sayfa .profil-sag .fallar{
	margin-bottom: 30px;
}

.yorumcu-sayfa .profil-sag .fallar .fal-box-wrapper{
	display: inline-block;
	float:none;
	margin-right: -4px;
}

.yorumcu-sayfa .profil-sag .fallar .fal-box{
	width: 100%;
	padding: 30px 0px;
	border: 1px solid #f1f1f1;
	text-align: center;
	font-family: montserrat, sans-serif;
	margin-bottom: 30px
}

.yorumcu-sayfa .profil-sag .fallar .fal-box .fal-resim{
	width: 100%;
	padding:0px 30px;
}

.yorumcu-sayfa .profil-sag .fallar .fal-box .fal-resim img{
	width: 100%;
}

.yorumcu-sayfa .profil-sag .fallar .fal-box .fal-isim{
	padding-top:10px;
	font-size:18px;
}

.yorumcu-sayfa .profil-sag .fallar .fal-box .fal-kredi{
	padding:10px 0px;
}

.yorumcu-sayfa .profil-sag .fallar .fal-box .fal-kredi .badge{
	background: orange;
	color:#000;
}

.yorumcu-sayfa .profil-sag .fallar .fal-box .fal-btn{
	background: #b50000;
	color:#fff;
	padding:10px;
	border-radius: 5px;
	font-size:11px;
}

.yorumcu-sayfa .profil-sag .fallar .fal-box .fal-btn:hover{
	background: #880000;
}

.yorumcu-sayfa .profil-sag .fallar .fal-box a{
	text-decoration: none;
}

.yorumcu-sayfa .profil-sag .fallar .fal-box .alt{
	padding:0px 30px;
}

.yorumcu-sayfa .yorumlar{

}

.yorumcu-sayfa .yorumlar .baslik{
	font-family: montserrat, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size:18px;
	margin-bottom: 20px;

}

.yorumcu-sayfa .yorumlar .yorum{
	width: 100%;
	border-top:1px solid #eee;
	position: relative;
	margin-bottom: 20px
}

.yorumcu-sayfa .yorumlar .yorum:before{
	content: '';
	position: absolute;
	top:0;
	left:50%;;
	width: 120px;
	height:3px;
	background: #eee;
	margin-left:-60px;
	border-radius: 5px 0px 0px 5px;
}

.yorumcu-sayfa .yorumlar .yorum .icerik{
	padding:20px 0px;
}

.yorumcu-sayfa .yorumlar .yorum .review-stars i.active{
	color:orange;
}

.yorumcu-sayfa .yorumlar .yorum .review-stars{
	padding-top:15px;
	text-align: center;
}

.yorumcu-sayfa .yorumlar .yorum .tarih{
	text-align: center;
	font-weight: bold;
}

.fal-sayfasi{
	margin-top:30px;
}

.fal-sayfasi .profil{
	background: #fff;
	border-radius: 5px
}

.fal-sayfasi .icerik{
	background: #fff;
	border-radius: 5px;
	padding:20px;

}

.fal-sayfasi .icerik .fal-ismi{
	font-size:18px;
	font-family: montserrat, sans-serif;
	font-weight: bold;
	margin-bottom: 30px;
}

.fal-sayfasi .icerik .form-control{
	color:#555;
	background: #e9e9e3;
	height:48px;
}

.fal-sayfasi .icerik textarea.form-control{
	min-height: 115px;
	max-width: 100%;
	min-width: 100%;
}

.fal-sayfasi .icerik .bilgiler{
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	-webkit-box-shadow:0 0 20px rgba(0,0,0,.2);
	padding:15px;
	margin-top:15px;
	margin-bottom:15px;
	width: 100%;
	display: inline-block;
}

.fal-sayfasi .icerik .form-check-label{
	font-weight: normal
}

.fal-sayfasi .icerik .multi-input .marbot{
	margin-bottom:20px;
}

.card-list{
    margin:0px;
    padding:0px;
    list-style: none;
    display: inline-block;
}

.card-list li{
    float:left;
    margin-right:5px;
    margin-bottom:5px;
    background: url(../img/tarot-card.png);
    width: 56px;
    height:74px;
}

.card-list li.active{
	background: url(../img/tarot-card-active.png);
}

.card-list li:hover{
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: pointer;
}

.fal-sayfasi .icerik .foto-btn{
	background:#b50000;
	color:#fff;
	padding:10px;
	border-radius: 10px;
	cursor: pointer;
}

.fal-sayfasi .icerik .foto-btn:hover{
	background: #880000 ;
}

.odeme-fal{
	background: #fff;
	margin-top: 30px;
	padding: 20px;
	border-radius: 5px;
}

.odeme-fal .odenecek-tutar{
	text-align: center;
	font-size: 18px;
	font-family: montserrat, sans-serif;
	color: #b50000;
	font-weight: bold;
}

.odeme-fal .kupon-kod{
	text-align: center;
	margin-top: 10px;
}

.odeme-fal .kupon-kod .kupon-yazi{
	display: inline-block;
}

.odeme-fal .kupon-kod .kupon-textbox{
	width: 250px;
	display: inline-block;
	border-radius: 5px;
	margin: 0px 5px;
}

.odeme-fal .kupon-kod .kupon-btn{
	display: inline-block;
	border-radius: 5px;
	color: #fff;
	background: #b50000;
	padding: 5px 10px;
	text-decoration: none;
	font-family: montserrat, sans-serif;
}

.odeme-fal .kupon-kod .kupon-btn:hover{
	background: #880000;
}

.odeme-fal .odeme-tur{
	border: 1px solid #ececec;
	border-radius: 5px;
	padding: 15px;
	margin-top: 20px;
	box-shadow: inset 0 0 30px rgba(0,0,0,.1);

}

.odeme-fal .odeme-tur img{
	height: 100%;
}

.odeme-fal .odeme-tur .odeme-img{
	width: 100%;
	height: 80px;
	text-align: center;
}

.odeme-fal .odeme-tur .odeme-baslik{
	font-weight: bold;
	color: #b50000;
	font-family: montserrat, sans-serif;
	font-size: 18px;
}
.odeme-fal .odeme-tur .odeme-aciklama{
	margin-top: 5px; 
}

.odeme-fal .odeme-tur .odeme-btn-wrapper{
	display: flex;
	align-items: center;
	height: 80px;
}

.odeme-fal .odeme-tur .odeme-btn{
	border-radius: 20px;
	color: #fff;
	background: #b50000;
	padding: 10px 15px;
	text-decoration: none;
	font-family: montserrat, sans-serif;

}

.odeme-fal .odeme-tur .odeme-btn:hover{
	background: #880000;

}

.kredi-listesi{
	margin-top: 30px;
}

.kredi-listesi .kredi-kutusu{
	background: #fff;
	padding: 50px 20px;
	border-radius: 5px;
	margin-bottom: 30px;
}

.kredi-listesi .kredi-kutusu .kredi{
	color: #b50000;
	font-family: montserrat, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
}

.kredi-listesi .kredi-kutusu .kredi-aciklama{
	text-align: center;
	font-weight: 500;
	margin: 50px 0px;
}

.kredi-listesi .kredi-kutusu .kredi-fiyat{
	text-align: center;
	margin-bottom: 20px;
	font-size: 18px;
	font-family: montserrat, sans-serif;
	font-weight: bold;
}

.kredi-listesi .kredi-kutusu a{
	text-decoration: none;
}

.kredi-listesi .kredi-kutusu .kredi-al-btn{
	border-radius: 20px;
	color: #fff;
	background: #b50000;
	padding: 10px 15px;
	text-decoration: none;
	font-family: montserrat, sans-serif;
	text-align: center;
}

.kredi-listesi .kredi-kutusu .kredi-al-btn:hover{
	background: #880000
}

.profil-kullanici{
	margin-top: 30px;
}

.profil-kullanici .kullanici-kart{
	background: #fff;
	padding: 10px;
}

.profil-kullanici .kullanici-kart .profil-foto{
	width: 100%;
}

.profil-kullanici .kullanici-kart .profil-foto img{
	vertical-align: middle;
	width: 100%;
}

.profil-kullanici .kullanici-kart .kullanici-bilgi{
	display: block;
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    font-family: montserrat, sans-serif;
}

.profil-kullanici .kullanici-kart a{
	text-decoration: none;
}

.profil-kullanici .kullanici-kart .kullanici-ayarlar{
	display: block;
    font-weight: 300;
    margin-top: 10px;
    color: #b50000;
    text-align: center;
}

.profil-kullanici .nav{
	
}

.profil-kullanici .nav li{

}

.profil-kullanici .nav li a{
	padding: 15px;
	font-weight: 500;
	font-size: 15px;
	background: #b50000;
	color: #fff;
	border-radius: 0px;
	border-color:transparent;
}

.profil-kullanici .nav li.active a{
	color:#333;
	background: #fff

}

.profil-kullanici .nav li.active a:hover,.profil-kullanici .nav li.active a:focus{
	border-color:transparent;

}


.profil-kullanici .kullanici-fal-liste{
	background: #fff;
	padding: 20px;
}

.profil-kullanici .kullanici-fal-liste img{
	margin-right: 5px;
}

.profil-kullanici .kullanici-fal-liste .kullanici-btn{
	border-radius: 20px;
	color: #fff;
	background: #b50000;
	text-decoration: none;
	font-family: montserrat, sans-serif;
	text-align: center;
}

.ayarlar-profil{
	background: #fff;
	padding: 20px;
	display: inline-block;
	width: 100%;
}

.ayarlar-profil .baslik-kullanici-ayarlar {
	font-family: montserrat, sans-serif;
	text-align: left;
	color: #b50000;
	font-size: 18px;
	font-weight: bold;
}

.ayarlar-profil .ayarlar-profil-foto {
	margin-top: 15px;
	margin-bottom: 30px;
}

.ayarlar-profil .ayarlar-profil-foto img {
	vertical-align: middle;
    width: 100%;
}

.ayarlar-profil .form-kullanici-ayarlar {
	margin-top: 10px;
}

.ayarlar-profil .form-kullanici-ayarlar input, .ayarlar-profil .form-kullanici-ayarlar select {
	height:48px;
    color:#555;
    background: #e9e9e3;
}

.ayarlar-profil .form-kullanici-ayarlar .sifre-degistir-baslik {
	margin-bottom: 10px;
}

.ayarlar-profil .form-kullanici-ayarlar .btn-guncelle {
	border-radius: 20px;
	color: #fff;
	background: #b50000;
	text-decoration: none;
	font-family: montserrat, sans-serif;
	text-align: center;
	width: 100%;
	margin-top: 10px;
}

#login-modal{
	font-family: montserrat, sans-serif;
}
#login-modal .modal-header {
  padding: 0;
}
#login-modal  .modal-header .close {
  padding: 10px 15px;
}
#login-modal .modal-header ul {
  border: none;
}
#login-modal .modal-header ul li {
  margin: 0;
}
#login-modal .modal-header ul li a {
  border: none;
  border-radius: 0;
}
#login-modal .modal-header ul li.active a {
  color: #e12f27;
}
#login-modal .modal-header ul li a:hover {
  border: none;
}
#login-modal .modal-header ul li a span {
  margin-left: 10px;
}
#login-modal .modal-body .form-group {
  margin-bottom: 10px;
}

#login-modal .btn{
	background: #b50000;
	color:#fff;
	outline: 0;
	margin-right:10px;
}

#login-modal input{
	height:48px;
	color:#555;
	background: #e9e9e3;
}

#login-modal .devam-etmek{
	color:#b50000;
	font-size:18px;
	margin-bottom: 10px
}

.check-icon-odeme {
	font-size: 150px;
	text-align: center;
	color: green;
	margin-top: 10px;
}

.odeme-basarili-baslik {
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: bold;
}

.odeme-basarili-aciklama {
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	margin-top: 30px;

}

.times-icon-odeme {
	font-size: 150px;
	text-align: center;
	color: red;
	margin-top: 10px;
}

.odeme-basarisiz-baslik {
	font-size: 18px;
	text-align: center;
	color: red;
	font-family: montserrat, sans-serif;
	font-weight: bold;
}

.odeme-basarisiz-aciklama {
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	margin-top: 30px;

}

.yorumcu-ol-sayfa {
	margin-top: 30px;
	padding: 20px;
	background: #fff;
}

.yorumcu-ol-baslik {
	font-size: 18px;
	margin-bottom: 20px;
	font-family: montserrat, sans-serif;
	font-weight: bold;
}

.yorumcu-ol-aciklama {
	font-size: 15px;
}

.yorumcu-ol-form {
	margin-top: 15px;
}

.yorumcu-ol-form label {
	margin-top: 5px;
}

.yorumcu-ol-form .yorumcu-ol-btn {
	background: #b50000;
	margin-top: 5px;
	
}


.yorumcu-ol-form-wrapper {
	float: none;
	 	margin: 0 auto;
}

.cevap-sayfa{
	background: #fff;
	margin-top: 30px;
	padding:20px;
	display: inline-block;
	width: 100%;
}

.cevap-sayfa .cevap-card-baslik{
	font-size:18px;
	font-family: montserrat, sans-serif;

}


.messaging  .inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  }

.messaging   .container {
    max-width: 1170px;
    margin-top: auto; 
  }

.messaging .gelen_msg{
	overflow: hidden;
	margin: 26px 50px 26px 0px;
}

.messaging   .alinan_msg {
  display: inline-block;
  padding: 0 0px 0 20px
 }

.messaging  .alinan_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
 }

.messaging  .time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.messaging .yollanan_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}

.messaging .giden_msg {
  overflow: hidden;
  margin: 26px 0px 26px 50px;
}

.messaging .yollanan_msg {
  float: right;
  padding:0px 20px 0px 0px;
}

.messaging .input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  padding:20px;
  outline: 0;
}

.messaging .type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.messaging .msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 33px;
  margin-right:20px;
}

.messaging{
  background: #fff;
}

.messaging .msg_history {
  height: 516px;
  overflow-y: auto;
}

.msg-baslik{
	padding:20px 0px;
}

.msg-baslik .msg-user-wrapper{
	display: flex;
	align-items: center;
}

.msg-baslik .msg-pp{
	width: 50px;
	float:left;
}

.msg-baslik .msg-pp img{
	width: 100%;
	border:2px solid #fff;
}

.msg-baslik .msg-title{
	font-size:18px;
	font-family: montserrat;
	font-weight: bold;
}

.msg-baslik .msg-name{
	float:left;
	margin-left:10px;
}

footer{
	margin-top:30px;
	background: #fff;
	display:flex;
	align-items: center;
	height: 150px
}



.icerik-footer .facebook {
	font-size: 30px;
}

.icerik-footer .facebook a {
	color: #3b5998;
}

.icerik-footer .twitter {
	font-size: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

.icerik-footer .twitter a {
	color: #00acee;
}

.icerik-footer .google {
	font-size: 30px;
}

.icerik-footer .google a {
	color: #dd4b39;
}

.footer-copyrigt-yazi {
	font-family: montserrat, sans-serif;
	font-weight: bold;
	padding-top: 20px;
}

.footer-copyrigt-yazi a {
	color: #333;
	text-decoration: none;
}

.yorum-gonder-kart{
	background: #fff;
	padding: 20px;
	margin-top:30px;
}

.yorum-gonder-kart .yorum-ack{
	margin-bottom: 10px;
}


.yorum-gonder-kart .yorum-gonder-btn a{
	background: orange;
	color:#333;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
}

.yorum-gonder-kart .yorum-gonder-btn a:hover{
	background: #ffd600;
}

.yorum-gonder-kart .yorum-gonder-btn {
	text-align: center;
	font-family: montserrat
}

.btn-def{
	background: #b50000;
	color:#fff;
}

.btn-def:hover, .btn-def:focus{
	background: #880000;
	color:#fff;
}


@media (max-width:576px){
	.home-fal-turler .fal-tur-box{
		width:50% !important;
	}

	.profil-karti-g .pp, .fal-sayfasi .pp{
	padding:15px 25% !important;
	}

	.profil-karti-g .fal-listesi ul li .fal-li{
	padding:0px 0px 0px 5px;
	}

	.profil-karti-g .fal-listesi ul li .fal-li .fal-li-resim{
	width: 35px;
	height: 35px;
	}

	.profil-karti-g .fal-listesi ul li .fal-li .fal-li-isim{
	padding-left:5px;
	}

	.profil-karti-g .fal-listesi ul li .fal-gonder-btn{
	padding: 5px 5px;
	}

	.profil-kullanici .nav li a{
		padding: 10px 2px;
		font-size: 9px;
	}

	.profil-kullanici td {
		padding: 1px !important;
		font-size: 9px;
	}

	.profil-kullanici th {
		font-size: 9px;
	}

	.profil-kullanici .kullanici-fal-liste .kullanici-btn {
		font-size: 8px;
	}

	.header-normal .header-top ul li a{
		font-size: 7px !important;
	}	
}

@media (max-width:768px){
	.home-fal-turler .fal-tur-box{
		width:33%;
	}

	.yorumcular .yorumcu{
		text-align: center
	}

	.yorumcular .yorumcu img{
		margin-top:0px;
		margin-bottom: 10px
	}

	.yorumcu-sayfa .profil .fal-listesi{
		display: none
	}

	.profil-karti-g .pp, .fal-sayfasi .pp{
		padding:15px 40%;
	}

	.landing-page {
		padding: 20px;
		margin-top: 90px;
	}

	.navbar-header {
		width: 100%;
	}

	.header nav > .container{
		display: block;
	}

	.header nav .navbar-nav{
		float: left;
		margin: 0px !important;
	}

	.header #navbar{
		background-color: #fff;
		border: 0px;	
	}

	.header nav .navbar-nav > li > a{
		color: #333;
	}

	.header nav .navbar-nav > .open > a{
 		color:#333 !important;
		border:0px !important;
 	}

 	.header nav .navbar-nav > li > a:focus{
		color:#333;
		border:0px !important;
	}

	.header-normal .header-top ul li a{
		font-size: 9px;
	}			

}

@media (max-width:992px){
	.fal-sayfasi .icerik .multi-input .marbotr{
		margin-bottom: 20px;
	}

	.icerik-footer {
	text-align: center;
	}

	.footer-copyrigt-yazi {
		text-align: center;
		font-size: 13px;
		margin-bottom: 5px;
	}

	.header nav .navbar-nav > li > a{
		padding: 10px 5px;
		font-size:14px;
	}

	.welcome h2{
    font-size: 35px;
	}
}

@media (min-width:992px){
	.icerik-footer {
	text-align: right;
	}
}